:root {
  --bg-color-light: white;
  --text-color-light: #232434;
  --bg-color-dark: #232434;
  --text-color-dark: white;
  --button-bg-light: #232434;
  --button-bg-dark: #333;
  --button-text-light: white;
  --border-color: grey;
  --accent-color: #dbc602;
  --menu-bg: #252525;
  --menu-text: white;
  --sidebar-bg-light: white;
  --sidebar-bg-dark: #232434;
  --content-bg-light: white;
  --content-bg-dark: #232434;
}

[data-theme='light'] {
  --sidebar-bg: var(--sidebar-bg-light);
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --button-bg: var(--button-bg-light);
  --content-bg: var(--content-bg-light);
}

[data-theme='dark'] {
  --sidebar-bg: var(--sidebar-bg-dark);
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --button-bg: var(--button-bg-dark);
  --content-bg: var(--content-bg-dark);
}
* {
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}

a:visited {
  color: inherit;
}

.webico {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.settings {
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.settings:hover {
  background-color: var(--button-bg);
  color: var(--text-color);
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: var(--accent-color);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

button {
  font-size: 15px;
  color: var(--button-text-light);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: var(--button-bg);
  cursor: pointer;
  margin: 5px 0;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-bg-dark);
}

#container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

#menu {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--menu-bg);
  color: var(--menu-text);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 3px solid grey;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#namesstyles {
  margin-top: 70px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

#sidebar {
  border-right: 2px double grey;
  width: 200px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  background-color: var(--sidebar-bg);
  padding: 20px;
  overflow-y: auto;
}

#content {
  margin-left: 220px;
  padding: 20px;
  background-color: var(--content-bg);
  min-height: calc(100vh - 70px);
  text-align: center;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: var(--menu-bg);
  color: var(--menu-text);
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--menu-text);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0.3;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

@media screen and (max-width: 768px) {
  #menu {
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--menu-bg);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: auto;
  }

  .burger {
    display: flex;
  }

  #menu ul li {
    margin-top: 60px;
    display: block;
    list-style: none;
    flex-direction: column;
    padding: 0;
    width: 100%; /* Rozciągnij menu na całą szerokość */
  }

  .settings {
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 2px solid var(--border-color);
  }

  #sidebar {
    display: none;
    top: auto;
    width: 100px;
    height: 100%;
    left: 0;
    height: auto;
    position: fixed;
    margin-bottom: 20px;
  }

  #content {
    margin-left: -20px;
    margin-right: -20px;
  }

  #footer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
  }

  #namesstyles {
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
}

@media screen and (max-width: 100px) {
  button {
    width: 100%;
    padding: 15px;
  }

  #namesstyles {
    font-size: 20px;
  }
}
